 <!DOCTYPE html>
<html lang="ru">
<head>


<style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
            text-align: center;
            background-color: #f8f9fa;
        }
        #car {
            width: 300px; /* Ширина автомобильной модельки */
            height: auto;
            display: block;
            margin: 20px auto;
        }
        #colorPicker {
            margin: 20px 0;
        }
        button {
            margin: 0 5px;
            padding: 10px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
</style>
    <style>
    #scroll-up {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  cursor: pointer;
  display: none;
  background-color: #000;
  color: #fff;
  padding: 10px;
  border-radius: 50%;
}

#scroll-up i {
  font-size: 24px;
}

#scroll-up:hover {
  background-color: #333;
}
</style>








    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация на тест-драйв</title>
</head>
<style>
    body {
      background-image: url(https://a.d-cd.net/oWVXZP31wZ1W3GpVOHUpwzuNRoo-1920.jpg );
      background-repeat: no-repeat;
      background-size: cover;
</style>





<body bgcolor=#00FA9A background= "nubex.png" >





    <h1>Запишитесь на тест-драйв новых китайских автомобилей марки ДЖИЛИ! </h1>

  ///  <form><a id="scroll-up" href="#top"><i class="fas fa-chevron-up"></i></a></form>




    <form id="testDriveForm">
        <label for="name"> Введите Имя и Фамилию:<br></label>
        <input type="text" id="name" name="name" required><br>

        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email" required><br>

        <label for="car_model"> Введите Модель автомобиля:</label>
        <br>
        <input type="text" id="car_model" name="car_model" required><br>
        <label for="phone"> Введите Телефон:<br></label>

        <input type="text" id="phone" name="phone" required><br>
        <br>
        <button type="submit">Записаться на тест -драйв </button>
        <br>
        <br>





<a id="scrollTOTOpBtn" style="display: none; position: flexed; bottom: 20px; right 20 px"></a>>

        <button type="submit">Оставьте свой отзыв о машине </button>
        <input type="text" id="car" name="car" required><br>
    </form>



    <div id="responseMessage"></div>
    <script>












        document.getElementById('testDriveForm').addEventListener('submit', function(event) {
            event.preventDefault();
            const formData = {
                name: document.getElementById('name').value,
                email: document.getElementById('email').value,
                car_model: document.getElementById('car_model').value
                tel: document.getElementById('telefon').value
                оставьте отзыв о машине: document.getElementById('otzif')
            };
            //1. fetch('/register', {...}): Выполняет HTTP-запрос на сервер по указанному URL-адресу. В этом случае URL-адрес - '/register'.
//2. method: 'POST': Указывает, что это POST-запрос. POST-запросы обычно используются для отправки данных на сервер.
//3. headers: Устанавливает заголовки запроса.
//4. 'Content-Type': 'application/json': Указывает, что содержимое запроса в формате JSON.
//5. body: JSON.stringify(formData): Преобразует объект formData в строку JSON и отправляет его в теле запроса.
//6. .then(response => response.json()): Преобразует ответ сервера из формата JSON в объект JavaScript.
//7. .then(data => {...}): Вызывается после успешного получения и преобразования данных.
//8. document.getElementById('responseMessage').innerText = data.message;: Обновляет содержимое элемента HTML с идентификатором responseMessage сообщением, полученным от сервера.
//9. .catch((error) => {...}): Обрабатывает любые ошибки, которые могут возникнуть во время запроса.










            fetch('/register', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(formData)
            })
            .then(response => response.json())
            .then(data => {
                document.getElementById('responseMessage').innerText = data.message;
            })
            .catch((error) => {
                console.error('Ошибка:', error);
            });
        });
    </script>
    <br>
<iframe width="400" height="200" src="https://rutube.ru/play/embed/c2a8c0a68c54f1bcb77003ef6b5126e4/" frameBorder="0" allow="clipboard-write; autoplay" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    <br>
    <br>
<p style="color: red"; >Салон этой машины щеголяет нежной изумрудной алькантарой, вставками под бронзу, элегантными лезвиями-воздуховодами и тремя экранами на всю переднюю панель. Водителя обнимает по-европейски рельефное кресло, перед глазами светится чёткая проекция, двойные стёкла и трёхзонный климат-контроль обеспечивают  безмятежную атмосферу, ультрасовременный комплекс ADAS — безопасность, а вольвовская техника — благородный ездовой характер. Однако мультимедийная система официальной версии модели оказалась весьма ограниченной по функционалу, а дилеры совсем не стесняются фаршировать машины «допами». Так стоит ли при таких вводных присматриваться к Geely Monjaro? Разбираемся в подробном тесте. "</pcolor>

<br>
    <h1 style="color:gold">Статья про Джили КУЛРЕЙ!</h1><br>
<iframe width="400" height="200" src="https://rutube.ru/play/embed/714a5d456bd8293e794150796c77887d/" frameBorder="0" allow="clipboard-write; autoplay" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    <br>

<p style="color: red";>Математика — штука упрямая и безжалостная. Стоило мне на примере Chery Tiggo 4 озвучить теорему о бесконечных китайцах, которые рано или поздно сумеют сделать нормальный автомобиль, как подоспело и доказательство. Да, эта машина выпущена другой компанией, разработана при активном участии Volvo, а собирается вообще в Белоруссии. Но факт остаётся фактом: Geely Coolray — первый китайский автомобиль, который не вызывает испанского стыда.

Geely Coolray 1.5 T DCT
1 289 999 — 1 499 999 ₽
Выбор редакции Комплектация Флагшип (150 л.с.), 1 499 999 ₽
Оценка автора: 4,5 из 5
Плюсы
Дорогой и приятный салон
Достойная динамика и неплохое шасси
Отсутствие серьёзных недостатков
Минусы
Крохотный багажник
Просчёты в эргономике
Слишком кричащая внешность
Стоимость владения в год при пробеге 17 500 км:
ОСАГО11 991 ₽
КАСКО59 885 ₽
ТО за год8 540 ₽
Транспортный налог5 250 ₽
Топливо81 812 ₽
Итого167 478 ₽
Не то чтобы этого нельзя было предположить: покупая Volvo десять лет назад, основатель Geely Ли Шуфу прельщался не столько бизнес-потенциалом небольшой скандинавской компании, сколько её инженерными компетенциями. И если бы даже шведам не удалось научить китайцев делать машины, впору было бы признать, что «проклятое место» — это не только Тольятти, но и Поднебесная. Кажется, обошлось.

Главное — пережить первые минуты изучения этой штуковины. Агрессивный обвес с «карбоновым» сплиттером спереди и «раллийным» антикрылом на крышке багажника, четыре выпускных патрубка при трёх (!) цилиндрах под капотом, красные суппорты — неужели Coolray по пути к дилерам проехал через Южнопортовый рынок? Ещё и кривой официальный сайт вещает странные штуки вроде этой: «Новый логотип вдохновлён идеей “Истинного Я” и подчёркивает “безграничные возможности” бренда». Прямо так и написано!

</p>








    <br>
    <h1 style="color: gold">Статья про джили АТЛАС!</h1><br>
    <iframe width="400" height="200" src="https://rutube.ru/play/embed/30d330b773fac5d2f7f49a97056048e7/" frameBorder="0" allow="clipboard-write; autoplay" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    <br>
<p style="color: red"; >Ох, не позавидуешь продавцам Geely сегодня: замучаешься объяснять каждому потенциальному покупателю, почему Атласа теперь два, почему Atlas Pro стоит намного дороже простого и что за неведомая «мягкогибридная» начинка у него! Зато покупателю хорошо — ведь пока ещё он может сделать выбор между «классическим» и относительно недорогим Атласом и напичканной под завязку версией Pro, которая на сотни тысяч дороже. Но насколько при этом она лучше?

Geely Atlas Pro
1 834 990 — 2 204 990 ₽
Выбор редакции: Комплектация Flagship+ 1.5 AMT за 2 204 990 ₽
Оценка: 3,8 из 5
Плюсы
Добротный салон
Хорошая шумоизоляция
Плотная подвеска
Минусы
Сомнительная польза гибридной начинки
Посредственная динамика
Огрехи эргономики
Стоимость владения* в год при пробеге 17 500 км:
ОСАГО15 600 ₽
КАСКО67 300 ₽
ТО за год16 850 ₽
Транспортный налог8850 ₽
Топливо96 000 ₽
Итого204 600 ₽
* Стоимость полисов и налог рассчитаны для водителя старше 22 лет и со стажем более 4 лет, проживающего в Москве

Если представить себе типичного покупателя китайского кросса с бюджетом до 2 миллионов рублей, то… мук выбора у него нет: обычный Atlas в не самой богатой комплектации за 1,8 млн рублей кажется куда более разумным, чем новенький Atlas Pro с ценой от двух с лишним миллионов. Да ещё и с удивительным трёхцилиндровым двигателем, 48-вольтовым стартер-генератором и «роботом». И пока большинство российских покупателей Geely голосует именно за «классический» кроссовер — он лидирует по продажам. Но соотношение всё-таки медленно меняется: в октябре 2021‑го, то есть за первый полный месяц продаж версии Pro, её купили 515 человек, тогда как обычный Атлас разошёлся тиражом 820 экземпляров. В ноябре было уже 565 проданных машин против 805 у «классики», а в декабре разница ещё уменьшилась: 417 Pro-кроссоверов и 612 обычных Атласов.

Скрыть точки
360°
Совсем скоро спрос на Atlas Pro ещё подрастёт: благодаря запуску упрощённой версии с передним приводом, «автоматом» вместо преселектива и тем же 1,5-литровым турбомотором, но без гибридного довеска. А в обозримом будущем новый кросс должен полностью вытеснить просто Атлас с рынка — представители Geely сразу говорили, что параллельно они будут продаваться примерно до конца 2021 года. Стоит этому радоваться или нет, разбираемся на примере гибридного Atlas Pro в предтоповой версии Flagship за 2 139 990 рублей.

Интерьер
К интерьеру Atlas Pro придираться не хочется: он ощущается основательным и в целом ничем не напрягает. Ну разве что без «карбоновых» вставок на сиденьях можно было и обойтись. Материалы неплохие, а дизайн современный даже без неоправданных заморочек вроде сенсорного блока климат-контроля. Большой и качественный тачскрин мультимедийки, как и экран на приборной панели, входит в базовое оснащение.

360°
Всем Pro-Атласам, кроме базовой переднеприводной версии, положены электрорегулировки передних кресел, подогрев руля (мощный!) и всех сидений, бесключевой доступ и запуск двигателя с кнопки — в общем, много таких вещей, которые делают автомобиль комфортнее. Вот только за включением подогревов всё-таки придётся лезть в сенсорное меню, для начала просмотрев анимацию запуска и согласившись с предупреждением о безопасности.

Но по-настоящему серьёзная претензия всего одна: не каждый водитель сможет расположиться в Атласе максимально удобно. Кому-то может не хватить вылета руля, а кому-то не понравится кресло. Поэтому обязательно съездите к дилеру на тест-драйв и проверьте всё сами.

1/9
Передние кресла Atlas Pro выглядят удобнее, чем они есть на самом деле. Крупным водителям могут не понравиться «уши» боковой поддержки, да и в целом профиль спинки невыразителен. Электрорегулировка появляется со второй по старшинству версии кроссовера



Практичность
У пассажиров второго ряда проблем с размещением не будет: за передними седоками среднего роста даже рослым очень комфортно, с запасом места и перед коленями, и над головой. Понравились углы наклона дивана (хотя диапазон регулировки совсем скромный), и мягкая набивка. Ещё плюсы: пара портов USB, ровный пол, лампочки индивидуального освещения рядом с потолочными ручками, а не посередине потолка.

При этом выдающейся вместимостью багажника Атлас похвастать не может: под шторкой тут всего 378 литров объёма. Однако и слишком тесным его не назовёшь: два полноразмерных чемодана умещаются без проблем, оставляя ещё немало места сверху. А вот организация подполья могла бы быть интереснее, если бы не батарея гибридной системы, расположенная в правой части отсека.</p>

<button  id="btn" type="button" onclick="window.scrollTo(0, 0);">Вверх!</button>

    <h1 style="color: gold">Имеющиеся в наличии цвета автомобилей</h1><br>
    <img id="car" src="https://good-fishing-net.narod.ru/gif/predmet-84.gif " alt="Модель автомобиля" />

    <div id="colorPicker">
        <button style="background-color: red; color: white;" onclick="changeColor('red')">Красный</button>
        <button style="background-color: blue; color: white;" onclick="changeColor('blue')">Синий</button>
        <button style="background-color: green; color: white;" onclick="changeColor('green')">Зеленый</button>
        <button style="background-color: yellow; color: black;" onclick="changeColor('yellow')">Желтый</button>
        <button style="background-color: black; color: white;" onclick="changeColor('black')">Черный</button>
    </div>

    <script>
        function changeColor(color) {
            const carImage = document.getElementById('car');

    </script>

</body>
</html>